@model IEnumerable<BizPage_Back_End.Models.Card>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Icon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <i class="@item.Icon"></i>
                </td>
                <td>
                    <img src="~/assets/Image/About/@item.Image" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Plan)
                </td>
                <td>
                    @if (item.Description.Length > 30)
                    {
                        @(item.Description.Substring(0,25) + "...".ToString());
                    }
                    else
                    {
                        @item.Description;
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
